---
import Accordion from '@/components/Accordion.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'Contact', description: 'Send your message now' }}>
	<section class="grid">
		<Accordion />
	</section>
</Layout>
