---

---

<section>
	<h2>FAQ</h2>
	<details open>
		<!-- <summary role="button" class="secondary outline">Accordion 1</summary> -->
		<summary>Dolor justo habitant phasellus</summary>
		<p>
			Lacus cursus efficitur nullam tempus natoque integer eros dapibus morbi
			dui habitant. Molestie dui curabitur consectetur primis enim semper.
			Elementum fermentum hendrerit fringilla eros lectus. Dolor justo habitant
			phasellus enim nulla mus euismod ante sodales nascetur tincidunt.
		</p>
	</details>

	<hr />

	<details>
		<summary>Lacinia fusce nunc aenean</summary>
		<p>
			Integer efficitur imperdiet nullam curae sed. Mi efficitur sapien vivamus
			semper cubilia aenean. Lacinia fusce nunc aenean penatibus nisi inceptos
			viverra nec. Iaculis dictumst ad ultrices elit laoreet. Accumsan at amet
			conubia mauris malesuada.
		</p>
	</details>

	<hr />

	<details>
		<summary>Eleifend senectus netus justo</summary>
		<p>
			Curabitur habitant odio efficitur viverra augue penatibus montes egestas
			senectus hac. Morbi phasellus fames metus pulvinar parturient litora.
			Conubia aliquet cubilia imperdiet commodo aenean ipsum pellentesque cras.
			Eleifend senectus netus justo et consectetuer aliquam fusce orci.
		</p>
	</details>
</section>
