---
import { BASE_URL } from '@/data/config'
---

<footer class="container">
	<hr />
	<nav>
		<div></div>
		<ul>
			<li>
				<small>
					<a href=`${BASE_URL}/about`>About</a>
				</small>
			</li>
			<li>
				<small>
					Built with <a href="https://astro.build" target="_blank">Astro</a>
				</small>
			</li>
		</ul>
	</nav>
</footer>
