---
import { SITE } from '@/data/config'
---

<header class="container">
  <nav>
    <ul>
      <li>
        <a href="/" title="Go home">
          <h2>{SITE.title}</h2>
        </a>
      </li>
    </ul>
    {
      // <ul>
      //   <li><a href="/about">About</a></li>
      //   <li><a href="/contact">Contact</a></li>
      // </ul>
    }
  </nav>
  <hr />
</header>
