---

---

<section>
	<details class="dropdown">
		<summary>Theme</summary>
		<ul dir="ltr">
			<li><a href="#" data-theme-switcher="auto">Auto</a></li>
			<li><a href="#" data-theme-switcher="dark">Dark</a></li>
			<li><a href="#" data-theme-switcher="light">Light</a></li>
		</ul>
	</details>
</section>
